@import 'helpers/*';

#extended-footer {
  .widget {
    float: left;
    width: 25%;
  }
}

@include respond-to(max-width, 930px) {
  #extended-footer .widget {
    width: 33%;
  }
}

@include respond-to(max-width, 715px) {
  #extended-footer .widget {
    padding-left: 3%;
    width: 50%;
  }
}

@include respond-to(max-width, 375px) {
  #extended-footer {
    border-top: none;
    .widget {
      text-align: center;
      float: none;
      width: 100%;
      &:first-child {
        border-top: none;
      }
      h2 {
        border-bottom: solid 2px lightgray;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      ul {
        display: inline-block;
        text-align: left;
      }
    }
  }
}
