#header-menu {
  font-size: 1.4rem;
  & > li {
    display: table-cell;
    width: 1%;
    border: solid 1px transparent;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    & > a {
      display: inline-block;
      vertical-align: middle;
      padding: .75rem;
    }
    &.menu-item-has-children {
      > a:after {
        padding-left: 5px;
        content: '\25BE';
        color: $headercaretc;
      }
      &:hover {
        border-color: $headermenuborderc;
      }
    }
  }
  .sub-menu {
    position: absolute;
    opacity: 0; // The primary property for how this menu's dropdowns display
    max-width: 0rem; // Prevents horizontal container overflow when menu items are hidden
    overflow: hidden; // Prevents hover over unseen elements from bringing up menu
    @include crosstransition(all, 0s, null, .3s); // Delays menu disappearing when mouse moves away
    text-align: left;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 3px;
    margin-top: .5rem;
    li {
      min-width: 15rem;
      position: relative;
      padding: .5rem 1.5rem;
      overflow: visible;
      &:hover {
        background-color: $submenubghoverc;
      }
      &.menu-item-has-children:after {
        position: absolute;
        right: 1rem;
        content: '\25B8';
        color: gray;
      }
    }
    .sub-menu {
      top: -.5rem;
      left: 100%;
      margin-left: .5rem;
    }
  }
  li:hover > .sub-menu {
    opacity: 1;
    max-width: 200rem; // Random, extra-large value to undo max-width: 0
    overflow: visible; // Allows sub-sub-menu to be displayed on hover
    @include crosstransition(all, 0s, null, .2s);
    border: solid 1px lightgray;
    padding: .5rem 0;
    box-shadow: 2px 2px 12px -4px gray;
  }
}
