.tags {
  font-size: 1.6rem;
  a {
    font-size: 1.4rem;
    display: inline-block;
    padding: .3rem .45rem .45rem;
    margin: 0 .5rem;
    border-radius: 2px;
    border: solid 1px lightgray;
  }
}
