footer {
  text-align: center;
  .container > * {
    border-top: solid 1px $footerbc;
  }
}
#extended-footer {
  .widget {
    text-align: left;
    padding: 4rem 6%;
    padding-right: 0;
    color: $widgettextc;
    font-size: 1.4rem;
    line-height: 1.8em;
    h2 {
      font-family: $widgeth2font;
      color: $widgeth2c;
      font-size: 2.2rem;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}
#theme {
  clear: both;
  text-align: center;
  padding: 5rem 0;
  font-size: 1.5rem;
  color: $widgettextc;
  letter-spacing: 1px;
  i {
    display: block;
    font-size: 2.8rem;
    padding-bottom: .5rem;
    &:hover {
      color: #347A99;
    }
  }
}
