$wildsand: #F5F5F5;
$blackhaze: #F7F7F7;
$iron: #ccc;
$navyblue: #1D7BBF;
$sushi: #819C2D;
$boulder: #7B7B7B;

$opensans: 'Open Sans';

$bariconc: $iron;
$barbgc: $wildsand;
$headermenuborderc: $navyblue;
$headercaretc: $navyblue;
$submenubghoverc: $wildsand;

$oddarticlebgc: $blackhaze;
$metah1c: $navyblue;

$contentac: $navyblue;

$readmorebgc: $navyblue;
$readmorec: white;

$asideiconc: $sushi;
$quoteiconc: $navyblue;
$blockquotebc: $sushi;

$nextc: $navyblue;

$footerbc: $navyblue;
$widgettextc: $boulder;

$bodyfont:$opensans;

$max-wrapper-width: 120rem;
$max-container-width: 100rem;
